@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
}

.nav{
  position: relative;
}
.nav::before{
  position: absolute;
  content:'';
  left: 0;
  background-color: red;
  width: 100px;
}

.nav-active > .nav-line{
  @apply !w-16 !bg-white;
}

.nav-active > .nav-text{
  @apply !text-white;
}